<%# ADDING HEADER %>
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: My Account" , style: "css/style.css"}); -%>

<%# ADDING NAVBAR %>
<section class="title_myaccount">
    <%- include("partials/LoggedNavbar.ejs");  -%>
    <!-- <p>answers ::: <%=profile.answers%></p>
    <p>likedAnswers ::: <%=profile.likedAnswers%></p> -->
</section>
<body class="body">
<section class="my_acc">
    <div class="container">
        <div class="row">
            <div class = "my_background rounded">
               <a href="/Editprofile" ><button class="edit_profile btn btn-sm btn-secondary" type="button">Edit Profile</button></a>
            </div>
            <div class="user_profile">
                <!-- <img src="images/<%=profile.dp%>" alt=".."/> -->
                <i class="user_icon fas fa-user-circle fa-10x"></i>
            <div class=" upload">
                <form action='/profileDp' method="POST" id="jsform">
                <input type="file" name="profilePic" id="actual-btn" hidden required>
                <label for="actual-btn" id="from" style="cursor: pointer; color: black;"> <i class="fas fa-camera fa-2x"></i></label>
                </form>
            </div>
            </div>
            <div class="usename" style="text-transform: capitalize;">
                    <span class="display-6"><%=profile.name%></span>
                    <p><%=profile.intro%></p>
            </div>
        </div>
    </div>  
</section>

<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Following</h4>
                        <hr>
                    </div>
                      <h3> <span id ="following"> <%=profile.followings%> </span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Followers</h4>
                        <hr>
                    </div>
                      <h3> <span id ="followers"> <%=profile.followers%></span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Answered</h4>
                        <hr>
                    </div>
                      <h3> <span id ="answered"> <%=profile.answeredQuestions%> </span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Asked</h4>
                        <hr>
                    </div>
                      <h3> <span id ="asked"> <%=profile.questions%> </span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>






 <section class="my_acc_body">
    <div class="container-sm">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
               <div class="card mb-4">
                   <div class="card-body">
                       <div class="card-title"><h4>INFO</h4></div><hr>
                       <div class="row gy-2 g-2">
                        <div class="col-lg-4 col-md-4 col-12 mb-3">
                            
                            <div class ="row">
                            <div class="col-4">
                                <b>Name: </b>
                            </div>
                            <div class="col-8">
                                <b><%= profile.name%></b>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 mb-3">
                            <div class ="row">
                            <div class="col-4">
                                <b>Email:</b>
                            </div>
                            <div class="col-8">
                               <b> <%= profile.email%></b>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 mb-3">
                            <div class ="row">
                                <div class="col-4">
                                    <b>Stream:</b>
                                </div>
                                <div class="col-8">
                                    <b><%= profile.branch%></b>
                                </div>
                             </div>
                        </div>
                        
                       </div>
                   </div>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title"><h4>INFO</h4></div><hr>
                        <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div> 
</section>

























<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>
<script>
    let following = document.getElementById('following').textContent
    following = Number(following)
    let followers = document.getElementById('followers').textContent
    followers = Number(followers)
    let answered = document.getElementById('answered').textContent
    answered = Number(answered);
    let asked = document.getElementById('asked').textContent
    asked = Number(asked);

    
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['followers' ,'following', 'Answered', 'Asked'],
            datasets: [{
                label: '# of Actions',
                data: [followers,following ,answered ,asked ],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                enabled: false,
            },
            animation:{
                duration: 1000,
                easing:'easeInOutCubic',
            },
            title : {
                display: true,
                text: "your activity",
            }
        },
    });
    document.querySelector('input[type=file]').addEventListener('change', function(){
    this.form.submit();
});
</script>

</body>
</html>
