<%# ADDING HEADER %>
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Public" , style: "css/style.css"}); -%>

<%# ADDING NAVBAR %>
<section class="title_myaccount">
    <%- include("partials/LoggedNavbar.ejs");  -%>
</section>

<body class="body">
<section class="my_acc">
    <div class="container">
        <div class="row">
            <div class = "my_background rounded">
                <button class="edit_profile btn btn-sm btn-secondary d-none" type="button" id="hidefollow" >Follow</button>
                <button class="edit_profile btn btn-sm btn-secondary d-none" type="button" id="hideunfollow" >UnFollow</button>

               <% if(isFollowing === false){ %>
               <button class="edit_profile btn btn-sm btn-secondary" type="button" id="follow" >Follow</button>
               <% } else{ %> 
                <button class="edit_profile btn btn-sm btn-secondary" type="button" id="Unfollow" >UnFollow</button>
                <% } %> 
            </div>
            <div class="user_profile">
                <div class="profile_pic" >
                    <% if( profile.dp.length>0 && profile.dp !== "/images/user.png"){%> 
                <img
                src="http://localhost:3000/<%=profile.dp%>" alt=".." 
                class=" img-fluid" id="dp"/> 
                </div>
                <% }else{ %> 
                 <i class="user_icon fas fa-user-circle fa-10x"></i>
                 <% } %> 
            <div class="usename" style="text-transform: capitalize;">
                    <span class="display-6" ><%= profile.name  %> </span>
                    <p><%=profile.intro %></p>
            </div>
        </div>
    </div>  
</section>

<section class="my_acc_body">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Following</h4>
                        <hr>
                    </div>
                      <h3> <span id ="following"><%=profile.followings %> </span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Followers</h4>
                        <hr>
                    </div>
                      <h3> <span id ="followers"> <%=profile.followers %> </span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Answered</h4>
                        <hr>
                    </div>
                      <h3> <span id ="answered"> <%= profile.answers %> </span></h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-2">
                <div class="card">
                    <div class="card-body">
                    <div class ="card-title mt-1">
                        <h4>Asked</h4>
                        <hr>
                    </div>
                      <h3> <span  id ="asked"><%= profile.questions %></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>





<section class="my_acc_body">
    <div class="container-sm">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
               <div class="card mb-4">
                   <div class="card-body">
                       <div class="card-title"><h4>INFO</h4></div><hr>
                       <div class="row gy-2 g-2">
                        <div class="col-lg-6 col-md-6 col-12 mb-3">
                            
                            <div class ="row">
                            <div class="col-4">
                                <b>Name: </b>
                            </div>
                            <div class="col-8">
                                <b><%= profile.name%></b>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 mb-3">
                            <div class ="row">
                                <div class="col-4">
                                    <b>Stream:</b>
                                </div>
                                <div class="col-8">
                                    <b><%= profile.branch%></b>
                                </div>
                             </div>
                        </div>
                       </div>
                   </div>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title"><h4>INFO</h4></div><hr>
                        <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div> 
</section>














































<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>









<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>
<script>
    
    let following = document.getElementById('following').textContent
    following = Number(following);
    let followers = document.getElementById('followers').textContent
    followers = Number(followers);
    let answered = document.getElementById('answered').textContent
    answered = Number(answered);
    let asked = document.getElementById('asked').textContent
    asked = Number(asked);

    
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['followers' ,'following', 'Answered', 'Asked'],
            datasets: [{
                label: '# of Actions',
                data: [followers,following ,answered ,asked ],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            tooltips: {
                enabled: false,
            },
            animation:{
                duration: 1000,
                easing:'easeInOutCubic',
            },
            title : {
                display: true,
                text: "your activity",
            }
        },
    });
    const result = document.getElementById("follow") === null ? true : false;
    if(result !== true ){
    const follow = document.getElementById("follow");

    follow.addEventListener("click",()=>{
        const follow = document.getElementById("follow")
        const unFollow = document.getElementById("Unfollow");
        fetch('http://localhost:3000/follow?userId=<%= profile._id %>').then((result)=>{
            return result.json()
        })
        .then(data=>{
            swal(data.message);
            document.getElementById("hideunfollow").classList.remove("d-none");
            document.getElementById("follow").classList.add("d-none");
            followers = followers +1;
            document.getElementById("followers").innerHTML = followers;
        })
        .catch((error)=>{
            swal(error);
        })
    })
}else{
    let unFollow = document.getElementById("Unfollow");
    unFollow.addEventListener("click",()=>{
        fetch('http://localhost:3000/unfollow?userId=<%= profile._id %>').then(result=>{
             return  result.json()
        })
        .then((data)=>{
            swal(data.message);
            document.getElementById("hidefollow").classList.remove("d-none");
            document.getElementById("Unfollow").classList.add("d-none");
            followers = followers -1;
            document.getElementById("followers").innerHTML = followers;
        })
        .catch((error)=>{
            swal(error);
        });
    }) 
}
    const follow = document.getElementById("hidefollow");
    follow.addEventListener("click",()=>{
        const follow = document.querySelector("hidefollow")
        const unFollow = document.getElementById("hideunfollow");
        fetch('http://localhost:3000/follow?userId=<%= profile._id %>').then((result)=>{
            return result.json()
        })
        .then(data=>{
            swal(data.message);
            document.getElementById("hideunfollow").classList.remove("d-none");
            document.getElementById("hidefollow").classList.add("d-none");
            followers = followers +1;
            document.getElementById("followers").innerHTML = followers;
        })
        .catch((error)=>{
            swal(error);
        })
    })
    let unFollow = document.getElementById("hideunfollow");
    unFollow.addEventListener("click",()=>{
        fetch('http://localhost:3000/unfollow?userId=<%= profile._id %>').then(result=>{
             return  result.json()
        })
        .then((data)=>{
            swal(data.message);
            document.getElementById("hidefollow").classList.remove("d-none");
            document.getElementById("hideunfollow").classList.add("d-none");
            followers= followers -1;
            document.getElementById("followers").innerHTML = followers;
        })
        .catch((error)=>{
            swal(error);
        });
    }) 
    </script>
</body>
</html>
