<%# ADDING HEADER %>
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Questions" , style: "css/style.css"}); -%>

<h1>isLoggedIn</h1>
<h4><%= isLoggedIn %></h4>

<h4>Total pages: <%=totalPages%> ::: Current Page: <%= currentPage %></h4>

<h2>Data : </h2>
<% if(error.length > 0) { %>
    <%= error %>
<% } else { %>
    <%= questions %>
<% } %>

</body>

</html>