<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<%- include("partials/header.ejs" , {pageTitle : "CollegeGeeks: :: Home" , style: "css/style.css"}); -%>


<%# ADDING NAVBAR %>
<section class="title_home">
      <%- include("partials/LoggedNavbar.ejs"); -%>
</section>

<body class="body">

<section id="questionPage ">
      <div class="container">
            <div class="row container">
                  <% if(error.length > 0) { %>
                        <%= error %>; 
                  <% } else { %>
                  <!-- <%= question %> -->
                  <div class =" Ans-question card mb-2">
                        <div class="card-body">
                              <div class="card-title"><h3><%= question.statement %>?  </h3></div>
                              <div style="float: right;" data-bs-toggle="modal" data-bs-target="#ansModal" >Click Here to answer</div>
                        </div>
                  </div>
                  <% if(question.answers.length>0){ %> 
                  <% question.answers.forEach(element=>{%> 
                  <div class="Answer card mb-2">
                        <div class ="card-body">
                              <div class="card-title">UserName</div><hr>
                        </div>
                  </div>
                  <% }) %> 
                  <% } else{ %>
                        <span class="display-6 mt-2" style="text-align: center;">Be The first to answer Question<br>
                        </span>
                  <%}%>
                  <% } %> 
            </div>


        <!-- modal part  -->

            <div class="modal fade" id="ansModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" >New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="/newAnswer?questionId=<%= question._id %>">
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" type="text" id="sample3" required></textarea>
                                <label class="mdl-textfield__label" for="sample3">Text...</label>
                              </div>
                              <button type="submit" class="btn btn-primary" style="float: right;">Send message</button>
                        </form>
                    </div>
                  </div>
                </div>
      </div>
</section>







<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous">
</script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>